:root {  
    --color-white: #FFFFFF;
    --color-red: #FF0000;
    --color-gray: #808080;
    --color-redorange: #F5291D;
    --color-purple: #6E2A8F;
    --color-purplesemidark: #451762;
    --color-purpledarker: #260B38;
}

.todo-form {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
}

.todo-form h2 {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    color: var(--color-white);
}

.todo-form input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    border-width: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    box-sizing: border-box;
    font-weight: bold;
    color: var(--color-purplesemidark);
    background-color: var(--color-white);
}

.todo-form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-width: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-purplesemidark);
    background-color: var(--color-white);
}

.todo-form select .option {
    font-weight: bold;
    color: var(--color-purplesemidark)
}

.todo-form button {
    margin-top: 0.5rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-width: 0rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    cursor: pointer;
    transition:  ease-in 0.1s;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-purple);
}
  
.todo-form button:hover {
    background-color: var(--color-purplesemidark);
}

@media only screen and (max-width: 767px) {

.todo-form {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
}

.todo-form h2 {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
    color: var(--color-white);
}

.todo-form input {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    border-width: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    box-sizing: border-box;
    font-weight: bold;
    color: var(--color-purplesemidark);
    background-color: var(--color-white);
}

.todo-form select {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-width: 0.063rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
    color: var(--color-purplesemidark);
    background-color: var(--color-white);
}

.todo-form button {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    border-width: 0rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: transparent;
    cursor: pointer;
    transition:  ease-in 0.1s;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-purple);
}
    
}